body{ 
  margin: 0px;
  background-image: linear-gradient(to right, #FFFFFF , #E6E6E6);

}

h5{
  display: inline;

  font-family: "Caveat", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}

#header{
  text-align: center;
  height: 75px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #FFFFFF,#FFFFFF, #46434F);

}

#rgb{
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color : rgb(255, 255, 5);
  
}
#form1{
text-align: center;
    margin-top: 18px;


}
#rgb1{
    color: #46434F;




 
  font-family: "Science Gothic", sans-serif;

}
