body{
  margin: 0px;
  background-image: linear-gradient(to right, #807F85 , #46434F , #807F85);

}

h5{
  display: inline;
  color: white;
  font-family: Comic Sans MS;
  font-size: 50px;
}

#header{
  text-align: center;
  height: 75px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #46434F, #807F85 , #46434F);

}

#rgb{
    margin: 5px;
    padding: 175px;
    background-color : rgb(255, 0, 0);
    text-align: center;
}
